<div class="box tabular settings">
  <p>
    <label><%= l(:settings_select_custom_field) %>:</label>
    <% issue_custom_fields.each do |field| %>
      <label class="block">
        <% if defined?(settings) && settings && settings.include?('field') && settings['field'] == field.name %>
          <%= radio_button_tag 'settings[field]', field.name, true %>
        <% else %>
          <%= radio_button_tag 'settings[field]', field.name , false %>
        <% end %>
        <%= field.name %>
      </label>
    <% end %>
  </p>
</div>
<div class="box tabular settings">
  <p>
    <label><%= l(:settings_select_status) %>:</label>
    <% time_for_today_required_statuses.each do |status| %>
        <label class="block">
          <% if defined?(settings) && settings && settings.include?('status') && settings['status'] == status.name %>
            <%= radio_button_tag 'settings[status]', status.name , true %>
          <% else %>
            <%= radio_button_tag 'settings[status]', status.name , false %>
          <% end %>
          <%= status.name %>
        </label>
    <% end %>
  </p>
</div>
